In [469]:
import pandas as pd
import warnings

from dateutil.parser import parse
warnings.filterwarnings('ignore')

In [470]:
df_as = pd.read_csv("../data/original/ActivitySummary.csv")
df_as.head()

,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal
0,2018-01-14,0.000,0,kcal,0,30,0,12
1,2018-01-15,0.000,0,kcal,0,30,0,12
2,2018-01-16,356.837,630,kcal,20,30,13,12
3,2018-01-17,409.932,630,kcal,21,30,17,12
4,2018-01-18,369.308,630,kcal,10,30,15,12

In [471]:
import datetime

df_as_filtered = df_as[['dateComponents','activeEnergyBurned','appleExerciseTime','appleStandHours']]
       
for (index, value) in df_as_filtered.iterrows():
    correct_time = datetime.datetime.strptime(value['dateComponents'], '%Y-%m-%d')
    # value['creationDate'][item] = correct_time
#     df_as_filtered.at[index, 'flerp'] = float(value['activeEnergyBurned'])
#     print(type(correct_time))
    df_as_filtered.at[index, 'creationDate'] = correct_time
    

df_as_final = df_as_filtered[['creationDate', 'activeEnergyBurned', 'appleExerciseTime', 'appleStandHours']]

df_as_final.head()

  creationDate  activeEnergyBurned  appleExerciseTime  appleStandHours
0   2018-01-14               0.000                  0                0
1   2018-01-15               0.000                  0                0
2   2018-01-16             356.837                 20               13
3   2018-01-17             409.932                 21               17
4   2018-01-18             369.308                 10               15

In [499]:
df_copy = df_as_final.set_index('creationDate')
df_copy.head()

              activeEnergyBurned  appleExerciseTime  appleStandHours
creationDate
2018-01-14                 0.000                  0                0
2018-01-15                 0.000                  0                0
2018-01-16               356.837                 20               13
2018-01-17               409.932                 21               17
2018-01-18               369.308                 10               15

In [517]:
df_hrv = pd.read_csv("../data/original/HeartRateVariabilitySDNN.csv")

In [511]:
df_hrv_filtered = df_hrv[['creationDate', 'value']]

# df_hrv_copy = df_hrv_filtered.set_index('creationDate')
# df_hrv_copy.head()

# convert from string to datetime
df_hrv_filtered['creationDate'] = pd.to_datetime(df_hrv_filtered['creationDate'])
# mean per day
df_hrv_final = df_hrv_filtered.groupby(df_hrv_filtered['creationDate'].dt.date).mean()


# df_hrv_copy = df_hrv_filtered.set_index('creationDate')
# df_hrv_copy.head()

                  value
creationDate
2018-01-16    36.577275
2018-01-18    37.554200
2018-01-19    53.743000
2018-01-20    37.752733
2018-01-22    28.643300

In [474]:
df_mindful = pd.read_csv("../data/original/MindfulSession.csv")
df_mindful.head()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
0,Headspace,8769,NaN,MindfulSession,NaN,2018-01-14 11:16:40 +0200,2018-01-14 11:15:45 +0200,2018-01-14 11:16:05 +0200,NaN
1,Headspace,8769,NaN,MindfulSession,NaN,2018-01-14 11:16:40 +0200,2018-01-14 11:16:06 +0200,2018-01-14 11:16:11 +0200,NaN
2,Headspace,8769,NaN,MindfulSession,NaN,2018-01-14 11:16:40 +0200,2018-01-14 11:16:12 +0200,2018-01-14 11:16:14 +0200,NaN
3,Headspace,8769,NaN,MindfulSession,NaN,2018-01-14 11:16:40 +0200,2018-01-14 11:16:15 +0200,2018-01-14 11:16:18 +0200,NaN
4,Headspace,8769,NaN,MindfulSession,NaN,2018-01-14 11:16:40 +0200,2018-01-14 11:16:20 +0200,2018-01-14 11:16:20 +0200,NaN

In [475]:
# removed redundant features
df_mindful_filtered = df_mindful[['creationDate','startDate', 'endDate']]
df_mindful_filtered.head()

# calculated duration between startDate and endDate
df_mindful_filtered['duration'] = [time for 
                               time in 
                               pd.to_datetime(df_mindful['endDate']) - pd.to_datetime(df_mindful['startDate'])]

df_mindful_final = df_mindful_filtered[['creationDate', 'duration']]

# converted duration to seconds format
df_mindful_filtered['seconds'] = df_mindful_filtered['duration'].dt.total_seconds()
df_mindfulness = df_mindful_filtered[['creationDate', 'seconds']]

# grouped days by seconds meditated
df_final_mindful = df_mindfulness.groupby(pd.to_datetime(df_mindfulness['creationDate']).dt.date).sum()
df_final_mindful.head()

              seconds
creationDate
2018-01-14     1393.0
2018-01-16      689.0
2018-01-20     1382.0
2018-01-22     1792.0
2018-01-23      705.0

In [476]:
df_step = pd.read_csv("../data/original/StepCount.csv")
df_step.shape

(38408, 9)

In [477]:
df_step_filtered = df_step[['creationDate', 'value']]
df_step_filtered.head()

                creationDate  value
0  2018-01-13 00:37:45 +0200     12
1  2018-01-13 00:37:45 +0200      4
2  2018-01-13 01:39:00 +0200     77
3  2018-01-13 10:38:15 +0200     16
4  2018-01-13 15:42:21 +0200     13

In [478]:
# convert from string to datetime
df_step_filtered['creationDate'] = pd.to_datetime(df_step_filtered['creationDate'])
# sum total per day
df_step_final = df_step_filtered.groupby(df_step_filtered['creationDate'].dt.date).sum()

df_step_final.head(5)

for (item, value) in df_step_final.iterrows():
    print(value)
    break

value    8337
Name: 2018-01-13, dtype: int64

In [494]:
for (index, row) in df_step_final.reset_index().iterrows():
    print(index)
    print(row)
    creationDate, value = row
    print(creationDate)
    print(value)
    break

0
creationDate    2018-01-13
value                 8337
Name: 0, dtype: object
2018-01-13
8337

In [479]:
df_flights_climbed = pd.read_csv("../data/original/FlightsClimbed.csv")
# df_flights_climbed.head()

In [480]:
df_flights_climbed_filtered = df_flights_climbed[['creationDate', 'value']]
# df_flights_climbed_filtered.shape

In [481]:
time = df_flights_climbed_filtered['creationDate']
time = pd.to_datetime(time)

# df_flights_climbed_filtered.groupby(df_flights_climbed_filtered['creationDate'].dt.date).sum()

df_flights_final = df_flights_climbed_filtered.groupby(time.dt.date).sum()
df_flights_final.head()



# df_flights_climbed_filtered.head()
# DID:
# 1 - removed redundant columns
# 2 - sum per day of flights climbed

              value
creationDate
2018-01-13        3
2018-01-14        2
2018-01-15       23
2018-01-16        9
2018-01-17        5

## Aggregate ActivitySummary with all activities

In [515]:
results = pd.DataFrame()
results['stepCount'] = df_step_final['value']
results['flightsClimbed'] = df_flights_final['value']
results['meditationSeconds'] = df_final_mindful['seconds']
results['activeEnergyBurned'] = df_copy['activeEnergyBurned']
results['appleExerciseTime'] = df_copy['appleExerciseTime']
results['appleStandHours'] = df_copy['appleStandHours']
results['hrv'] = df_hrv_final['value']

,stepCount,flightsClimbed,meditationSeconds,activeEnergyBurned,appleExerciseTime,appleStandHours,hrv
creationDate,,,,,,,
2018-01-13,8337,3.0,NaN,NaN,NaN,NaN,NaN
2018-01-14,9058,2.0,1393.0,0.000,0.0,0.0,NaN
2018-01-15,6697,23.0,NaN,0.000,0.0,0.0,NaN
2018-01-16,10752,9.0,689.0,356.837,20.0,13.0,36.577275
2018-01-17,10649,5.0,NaN,409.932,21.0,17.0,NaN
...,...,...,...,...,...,...,...
2018-03-24,3050,8.0,761.0,100.041,7.0,4.0,30.885000
2018-03-25,710,1.0,NaN,4.922,0.0,1.0,NaN
2018-03-26,11563,12.0,NaN,16.533,2.0,2.0,29.991700
2018-03-27,3109,4.0,NaN,158.689,5.0,9.0,35.548767
2018-03-28,11629,22.0,NaN,2.534,1.0,0.0,NaN